@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.required:after {
    color: #e32;
    content: ' *';
    display:inline;
}